h3 {
    margin-left: -20px; /* Adjust as necessary to position the year to the left */
}

.yeartable {
    border-collapse: collapse;
    width: 100%; /* Adjust the width as necessary */
    margin-left: 20px; /* To offset the negative margin of h3 */
}

.yeartable .bibitemanchor {
    text-align: right;
    vertical-align: top;
    padding-right: 10px; /* Space between anchor and title */
}

.yeartable .bibitemtext {
    vertical-align: top;
}

.title a {
    font-weight: bold; /* Highlight the title */
    text-decoration: none; /* Optional: removes underline from links */
}

.venueline .journal {
    font-style: italic; /* Style for journal or venue */
}

.button {
    display: inline-block;
    background-color: #f2f2f2; /* Button background color */
    border: 1px solid #ccc; /* Button border */
    padding: 5px; /* Button padding */
    text-decoration: none; /* Removes underline from links */
    cursor: pointer; /* Cursor style */
    margin-top: 5px; /* Space above the button */
    border-radius: 5px; /* Adjust as needed for desired roundness */
}

.bibhidden {
    display: none; /* Initially hide the bibtex content */
}

.publications-container {
    padding-left: 20px; /* Adjust as needed for left padding */
    padding-right: 20px; /* Adjust as needed for right padding */
    margin: auto; /* This centers the container in the page */
    max-width: 1200px; /* Or your preferred maximum width */
}

.year-container {
  display: flex;
  align-items: flex-start; /* Keeps items aligned at the top; adjust if necessary */
}

.year-container h2 {
  margin-right: 20px; /* Increase space between the year and the list */
  margin-bottom: 0; /* Removes the default bottom margin from h2 */
}

.year-container ul {
  padding: 0;
  margin: -0.5em;
  margin-top: 3em; /* Adjusts the vertical positioning */
  /* The calc() function above is an example; adjust the values based on your exact needs */
}

.year-container ul li {
  /* Additional styling for list items if necessary */
}



